.createContainer {
  margin: auto;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1px;
  background-color: #222831;
  color: #eee;
  transition: 0.1s;
}

input:focus {
  outline: none;
  background-color: #1a1f25;
}

.inputAside {
  margin: 0 0 0.25rem 0;
  padding: 0;
  font-size: 0.75rem;
  opacity: 0.5;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  color: #eee;
  background-color: #222831;
  border: none;
  border-radius: 1px;
  transition: 0.1s;
}

button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.267);
  background-color: #1a1f25;
}

.inputLabel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
