.createContainer {
  margin: auto;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  border: 2px solid rgb(183, 190, 209);
  border-radius: 10px;
}

.inputAside {
  margin: 0 0 0.25rem 0;
  padding: 0;
  font-size: 0.75rem;
  opacity: 0.5;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1rem;
  border: 2px solid rgb(183, 190, 209);
  border-radius: 10px;
}
