.appContainer {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #222831;
}

tbody {
  padding: 1rem 0;
  border-top: 1px solid rgba(238, 238, 238, 0.5);
}

.itemContainer {
  background-color: #222831;
  border-bottom: 1px solid rgba(238, 238, 238, 0.25);
}

td {
  padding: 1.05rem 1rem 1rem 1rem;
}

th {
  padding: 1rem;
  text-align: left;
}

.editIcon {
  stroke: rgb(101, 173, 255);
  height: 1.25rem;
  width: 1.25rem;
}

.deleteIcon {
  stroke: #fa5757;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}

.incrementIcon {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  stroke: #57fa65;
  margin-left: 1rem;
}

.decrementIcon {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
  stroke: #faa057;
}

.incrementIcon:active {
  opacity: 0.5;
}

.decrementIcon:active {
  opacity: 0.5;
}

.needToOrder {
  color: #fa5757;
}

@media screen and (max-width: 1040px) {
  td:nth-of-type(4),
  td:nth-of-type(5),
  td:nth-of-type(6) {
    display: none;
  }
  th:nth-of-type(4),
  th:nth-of-type(5),
  th:nth-of-type(6) {
    display: none;
  }
}
