.appContainer {
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  padding: 1rem 0;
}

.itemContainer {
  background-color: #222831;
}

td {
  padding: 0.55rem 0.5rem 0.5rem 0.5rem;
}

th {
  padding-right: 2rem;
  padding-left: 0.5rem;
  text-align: left;
}

.editIcon {
  stroke: #eee;
  height: 1.25rem;
  width: 1.25rem;
}

.deleteIcon {
  stroke: #fa5757;
  height: 1.25rem;
  width: 1.25rem;
}
